.back_loader{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 10;
}
#boxLoader{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 11;
}
.texto_loader{
    color: var(--ts-body-color);
}
.centered_box{
    padding: 20px;
    background-color: var(--ts-dropdown-bg);
    border-radius: 10px;
}