:root {
    --ts-body-bg: green !important;
    --ts-body-color: #75868f;
    --ts-card-bg: #fff;
    --ts-dropdown-bg: #fff;
    --ts-headings-color: #373c43;
    --ts-muted-color: #a5b1b8;
    --ts-link-color: #03a9f4;
    --ts-comp-active-bg: #246cb4;
    --ts-comp-active-color: #fff;
    --ts-border-color: rgba(0, 0, 0, 0.07);
    --ts-body-bg-rgb: 237,241,246;
    --ts-body-color-rgb: 117,134,143;
    --ts-card-bg-rgb: 255,255,255;
    --ts-dropdown-bg-rgb: 255,255,255;
    --ts-headings-color-rgb: 55,60,67;
    --ts-muted-color-rgb: 165,177,184;
    --ts-link-color-rgb: 3,169,244;
    --ts-comp-active-bg-rgb: 37,71,106;
    --ts-comp-active-color-rgb: 255,255,255;
    --ts-border-radius: 0.4375rem;
    --ts-body-font-regular: "poppins-light", sans-serif;
    --ts-body-font-bold: "poppins-medium", sans-serif;
    --ts-font-monospace: Consolas, monospace;
    --ts-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --ts-body-font-family: var(--ts-body-font-regular);
    --ts-body-font-size: 0.85rem;
    --ts-user-font-size: 0.8rem;
    --ts-body-font-weight: 400;
    --ts-body-line-height: 1.5;
    --ts-table-border: #F0F3F8;
    --ts-invalid: #DC3545;
}
body.background{
    background-image: url(../../public/imgs/back_login_ext.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}